<f:layout name="Inner" />
<!-- ToDo: made forms in header -->
<f:render partial="Header" arguments="{_all}" />
<main>
    <f:render partial="Breadcrumb" arguments="{_all}" />
    <f:render section="Content" />


    <div class="cooperation-background">
        <div class="cooperation-header">
            <div class="cooperation-header-title-1"><span>Уважаемые коллеги,</span> мы рады приветствовать Вас на нашем сайте!</div>
            <div class="cooperation-header-title-2">13 лет с заботой о вашем здоровье и отдыхе</div>
            <div class="cooperation-header-title-3">«Натурамед-тур» является проектом компании ООО «НатураМед».</div>
            <div class="cooperation-header-title-4">Компания «НатураМед» с 2006 года работает в сфере оздоровительного туризма в России и отдыха за рубежом. ООО «НатураМед» входит в единый федеральный реестр туроператоров. Реестровый номер: <a href="#">РТО 017708</a></div>
        </div>
    </div>
    <div class="cooperation-wrapper">
        <div class="cooperation-text-1">Мы предлагаем сотрудничество в области реализации туров по программам «НатураМед» и санаторно-курортному лечению, а также туров за рубеж.</div>
        <div class="cooperation-text-2">
            <p>У нас всегда есть гарантированные места и наиболее привлекательные спецпредложения!</p>
            <p>Оперативно отвечаем по запросу наличия мест и цен. Моментально подтверждаем заявки!</p>
        </div>
        <div class="cooperation-stages-title">
            <div class="cooperation-stages-title-line"></div>
            <div class="cooperation-stages-title-text">Этапы сотрудничества</div>
        </div>
        <div class="cooperation-stages-list">
            <div class="cooperation-stages-item">
                <div class="cooperation-stages-item-icon">
                    <div class="cooperation-stages-item-number">01</div>
                    <div class="cooperation-stages-item-img"><img src="images/cooperation-icon-1.png" alt="Заполните форму регистрационных данных для договора или воспользуйтесь шаблоном агентского договора"></div>
                </div>
                <div class="cooperation-stages-item-text"><span>Заполните форму регистрационных данных для договора или воспользуйтесь шаблоном <a href="#">агентского договора</a></span> (подпишите на всех страницах, поставьте печати, где это требуется) отсканируйте и пришлите нам на e-mail: <a href="mailto:ak@naturamed.ru">ak@naturamed.ru</a>.</div>
            </div>
            <div class="cooperation-stages-item-arrow"></div>
            <div class="cooperation-stages-item">
                <div class="cooperation-stages-item-icon">
                    <div class="cooperation-stages-item-number">02</div>
                    <div class="cooperation-stages-item-img"><img src="images/cooperation-icon-2.png" alt="Оригинал договора привезти или прислать в офис для подписания в любой рабочий день с 10.00 до 18.00."></div>
                </div>
                <div class="cooperation-stages-item-text">Оригинал договора привезти или прислать в офис для подписания в любой рабочий день с 10.00 до 18.00.</div>
            </div>
            <div class="cooperation-stages-item-arrow cooperation-stages-item-arrow-hide"></div>
            <div class="cooperation-stages-item">
                <div class="cooperation-stages-item-icon">
                    <div class="cooperation-stages-item-number">03</div>
                    <div class="cooperation-stages-item-img"><img src="images/cooperation-icon-3.png" alt="По основным направлениям Компания «НатураМед» предоставляет агентское вознаграждение в размере от 10%!"></div>
                </div>
                <div class="cooperation-stages-item-text">По основным направлениям Компания «НатураМед» предоставляет агентское вознаграждение в размере от 10%!</div>
            </div>
            <div class="cooperation-stages-item-arrow"></div>
            <div class="cooperation-stages-item">
                <div class="cooperation-stages-item-icon">
                    <div class="cooperation-stages-item-number">04</div>
                    <div class="cooperation-stages-item-img"><img src="images/cooperation-icon-4.png" alt="Подписка на рассылку осуществляется на главной странице: www.naturamed.ru."></div>
                </div>
                <div class="cooperation-stages-item-text">Подписка на рассылку осуществляется на главной странице: <a href="/">www.naturamed.ru</a>.</div>
            </div>
        </div>
        <div class="cooperation-text-3">Будем рады начать с Вами сотрудничество!</div>
        <div class="cooperation-document-title">
            <div class="cooperation-document-title-line"></div>
            <div class="cooperation-document-title-text">Образцы документов:</div>
        </div>
        <div class="cooperation-document-list">
            <div class="cooperation-document-item">
                <div class="cooperation-document-item-img"><img src="images/document-icon-1.png" alt="Агентский договор"></div>
                <div class="cooperation-document-item-text"><a href="#">Агентский договор</a></div>
            </div>
            <div class="cooperation-document-item">
                <div class="cooperation-document-item-img"><img src="images/document-icon-2.png" alt="Письмо на возврат денежных средств"></div>
                <div class="cooperation-document-item-text"><a href="#">Письмо на возврат денежных средств</a></div>
            </div>
            <div class="cooperation-document-item">
                <div class="cooperation-document-item-img"><img src="images/document-icon-3.png" alt="Гарантийное письмо"></div>
                <div class="cooperation-document-item-text"><a href="#">Гарантийное письмо</a></div>
            </div>
        </div>
        <div class="cooperation-registration-form">
            <form action="post">
                <fieldset>
                    <div class="cooperation-registration-title">
                        <div class="cooperation-registration-title-line"></div>
                        <div class="cooperation-registration-title-text"><legend><h3>Регистрационные данные для договора:</h3></legend></div>
                    </div>
                    <div class="cooperation-registration-form-background">
                        <ul>
                            <li>
                                <input placeholder="Полное юридическое наименование организации" type="text">
                            </li>
                            <li>
                                <label for="country">
                                    <select id="country">
                                        <option>Россия</option>
                                        <option>Белоруссия</option>
                                        <option>Украина</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <input placeholder="ИНН:" type="text">
                            </li>
                            <li>
                                <input placeholder="ОГРН/ОГРНИП" type="text">
                            </li>
                            <li>
                                <input placeholder="КПП (обязательно всем, кроме ИП)" type="text">
                            </li>
                            <li>
                                <input placeholder="Юридический адрес" type="text">
                            </li>
                            <li>
                                <input placeholder="Фактический адрес" type="text">
                            </li>
                            <li>
                                <input placeholder="Расчетный счет" type="text">
                            </li>
                            <li>
                                <input placeholder="Банк" type="text">
                            </li>
                            <li>
                                <input placeholder="Электронный адрес" type="email">
                            </li>
                            <li>
                                <input placeholder="Должность подписанта" type="text">
                            </li>
                            <li>
                                <input placeholder="Действует на основании" type="text">
                            </li>
                            <li>
                                <input placeholder="Предпочтительный логин" type="text">
                            </li>
                            <li>
                                <input placeholder="Торговая марка/товарный знак/краткое название" type="text">
                            </li>
                            <li>
                                <input placeholder="Город" type="text">
                            </li>
                            <li>
                                <input placeholder="ОКПО" type="text">
                            </li>
                            <li>
                                <input placeholder="ОКВЭД" type="text">
                            </li>
                            <li>
                                <input placeholder="Индекс юридического адреса" type="text">
                            </li>
                            <li>
                                <input placeholder="Индекс фактического адреса" type="text">
                            </li>
                            <li>
                                <input placeholder="БИК" type="text">
                            </li>
                            <li>
                                <input placeholder="Корр/счет" type="text">
                            </li>
                            <li>
                                <input placeholder="Телефоны (факс) вместе с кодом города" type="tel">
                            </li>
                            <li>
                                <input placeholder="Адрес сайта" type="text">
                            </li>
                            <li>
                                <input placeholder="Подписант" type="text">
                            </li>
                            <li>
                                <input placeholder="Контактное лицо" type="text">
                            </li>
                            <li>
                                <input placeholder="Предпочтительный пароль" type="text">
                            </li>
                        </ul>
                        <button type="submit">Зарегистрировать</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</main>
<!-- ToDo: made forms in footer -->
<f:render partial="Footer" arguments="{_all}" />
<f:render partial="ModalBoxex" arguments="{_all}" />