<f:layout name="Inner" />
<!-- ToDo: made forms in header -->
<f:render partial="Header" arguments="{_all}" />

<main>
    <f:render partial="Breadcrumb" arguments="{_all}" />
    <f:render section="Content" />

    <section class="about">
        <article>
            <div class="article-h1">
                <div class="article-h1-line"></div>
                <div class="article-h1-text"><h1>О компании</h1></div>
            </div>
            <div class="about-directions">
                <div class="about-directions-wrapper">
                    <div class="about-directions-title-1">13 лет с заботой о вашем здоровье и отдыхе</div>
                    <div class="about-directions-title-2">«Натурамед-тур» является проектом компании ООО «НатураМед».</div>
                    <div class="about-directions-text">Компания «НатураМед» с 2006 года работает в сфере оздоровительного туризма в России и отдыха за рубежом. ООО "НатураМед" входит в единый федеральный реестр туроператоров. Реестровый номер: <a href="#">РТО 017708</a></div>
                </div>
            </div>
            <div class="about-directions-list">
                <div class="about-directions-column">
                    <div class="about-directions-item">
                        <div class="about-directions-item-img">
                            <img src="images/about-icon-1.png" alt="Отдых и санаторно-курортное лечение по всей России"></div>
                        <div class="about-directions-item-title">Отдых и санаторно-курортное лечение по всей России</div>
                    </div>
                </div>
                <div class="about-directions-column">
                    <div class="about-directions-item">
                        <div class="about-directions-item-img">
                            <img src="images/about-icon-2.png" alt="Подбор туров за рубеж"></div>
                        <div class="about-directions-item-title">Подбор туров за рубеж</div>
                    </div>
                </div>
                <div class="about-directions-column">
                    <div class="about-directions-item">
                        <div class="about-directions-item-img">
                            <img src="images/about-icon-3.png" alt="Detox-программы в лучших санаториях России"></div>
                        <div class="about-directions-item-title">Detox-программы в лучших санаториях России</div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="advantage">
        <article>
            <div class="article-h2">
                <div class="article-h2-line"></div>
                <div class="article-h2-text"><h2>Почему выгодно заказывать туры у нас?</h2></div>
            </div>
            <div class="advantage-list">
                <div class="advantage-item">
                    <div class="advantage-number">
                        <div class="advantage-number-text">01</div>
                        <div class="advantage-number-icon"><img src="images/about-advantage-1.png" alt="Наш опыт к вашим услугам"></div>
                    </div>
                    <div class="advantage-item-title">Наш опыт к вашим услугам</div>
                    <div class="advantage-item-text">Уже более 13 лет мы успешно работаем на рынке оздоровительного туризма. Ежегодно мы помогаем тысячам туристов в подборе и выборе наилучшего варианта для осуществления отпуска своей мечты.</div>
                </div>
                <div class="advantage-item">
                    <div class="advantage-number">
                        <div class="advantage-number-text">02</div>
                        <div class="advantage-number-icon"><img src="images/about-advantage-2.png" alt="Профессионализм работников"></div>
                    </div>
                    <div class="advantage-item-title">Профессионализм работников</div>
                    <div class="advantage-item-text">Все наши сотрудники имеют высшее профильное образование и большой стаж работы. Ежегодно мы повышаем уровень своей квалификации: участвуем в рекламных турах по России и за рубежом, изучаем санатории, пансионаты, отели, курорты, оцениваем и предлагаем только лучшие.</div>
                </div>
                <div class="advantage-item">
                    <div class="advantage-number">
                        <div class="advantage-number-text">03</div>
                        <div class="advantage-number-icon"><img src="images/about-advantage-3.png" alt="Нам доверяют"></div>
                    </div>
                    <div class="advantage-item-title">Нам доверяют</div>
                    <div class="advantage-item-text">
                        <div>С нами работают ведущие туроператоры России.</div>
                        <div>За 13 лет работы через нас забронировано <span>9 500</span>.</div>
                        <div>Это говорит о том, что мы проверенные и надёжные партнёры, которые предоставляют качественный турпродукт.</div>
                    </div>
                </div>
                <div class="advantage-item">
                    <div class="advantage-number">
                        <div class="advantage-number-text">04</div>
                        <div class="advantage-number-icon"><img src="images/about-advantage-4.png" alt="Удобная система оплаты"></div>
                    </div>
                    <div class="advantage-item-title">Удобная система оплаты</div>
                    <div class="advantage-item-text">
                        <div>Для вашего удобства мы предлагаем воспользоваться оплатой путевок удобным для вас способом: оплата в офисе за наличный расчет или по банковской карте, оплата через систему "Резерв Мастер" по номеру брони в терминалах города или пластиковой картой на сайте; оплата по безналичному расчету по выставленному счету; доставка путевки курьером.</div>
                        <div>(<a href="#">способы оплаты</a>).</div>
                    </div>
                </div>
                <div class="advantage-item">
                    <div class="advantage-number">
                        <div class="advantage-number-text">05</div>
                        <div class="advantage-number-icon"><img src="images/about-advantage-5.png" alt="Мы всегда вам рады"></div>
                    </div>
                    <div class="advantage-item-title">Мы всегда вам рады</div>
                    <div class="advantage-item-text">Мы ценим и любим каждого нашего клиента, поэтому всегда рады видеть вас в нашем офисе который находится в центре Москвы недалеко от станции метро Курская. Во время оформления тура в офисе вы познакомитесь с нашей компанией получше, а также насладитесь прекрасной атмосферой за чашечкой ароматного чая или бодрящего кофе.</div>
                </div>
                <div class="advantage-item">
                    <div class="advantage-number">
                        <div class="advantage-number-text">06</div>
                        <div class="advantage-number-icon"><img src="images/about-advantage-6.png" alt="Клиенты на всю жизнь"></div>
                    </div>
                    <div class="advantage-item-title">Клиенты на всю жизнь</div>
                    <div class="advantage-item-text">Обратившись в нашу компанию впервые, вы становитесь почетным постоянным клиентом и получаете дисконтную карту с накопительной системой скидок. Вы будете в курсе действующих акций и новых предложениях компании. Также у вас появится возможность участвовать в ежегодном розыгрыше путевки по программе «НатураМед».</div>
                </div>
            </div>
        </article>
    </section>
</main>

<!-- ToDo: made forms in footer -->
<f:render partial="Footer" arguments="{_all}" />
<f:render partial="ModalBoxex" arguments="{_all}" />