<f:layout name="Inner" />
<!-- ToDo: made forms in header -->
<f:render partial="Header" arguments="{_all}" />
<main>
    <f:render partial="Breadcrumb" arguments="{_all}" />

    <section class="{page.section_class}">
        <article>
            <f:render section="Content" />
        </article>
    </section>


    <div class="cooperation-wrapper">

        <div class="cooperation-document-list">
            <div class="cooperation-document-item">
                <div class="cooperation-document-item-img"><img src="images/document-icon-1.png" alt="Агентский договор"></div>
                <div class="cooperation-document-item-text"><a href="#">Агентский договор</a></div>
            </div>
            <div class="cooperation-document-item">
                <div class="cooperation-document-item-img"><img src="images/document-icon-2.png" alt="Письмо на возврат денежных средств"></div>
                <div class="cooperation-document-item-text"><a href="#">Письмо на возврат денежных средств</a></div>
            </div>
            <div class="cooperation-document-item">
                <div class="cooperation-document-item-img"><img src="images/document-icon-3.png" alt="Гарантийное письмо"></div>
                <div class="cooperation-document-item-text"><a href="#">Гарантийное письмо</a></div>
            </div>
        </div>
        <div class="cooperation-registration-form">
            <form action="post">
                <fieldset>
                    <div class="cooperation-registration-title">
                        <div class="cooperation-registration-title-line"></div>
                        <div class="cooperation-registration-title-text"><legend><h3>Регистрационные данные для договора:</h3></legend></div>
                    </div>
                    <div class="cooperation-registration-form-background">
                        <ul>
                            <li>
                                <input placeholder="Полное юридическое наименование организации" type="text">
                            </li>
                            <li>
                                <label for="country">
                                    <select id="country">
                                        <option>Россия</option>
                                        <option>Белоруссия</option>
                                        <option>Украина</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <input placeholder="ИНН:" type="text">
                            </li>
                            <li>
                                <input placeholder="ОГРН/ОГРНИП" type="text">
                            </li>
                            <li>
                                <input placeholder="КПП (обязательно всем, кроме ИП)" type="text">
                            </li>
                            <li>
                                <input placeholder="Юридический адрес" type="text">
                            </li>
                            <li>
                                <input placeholder="Фактический адрес" type="text">
                            </li>
                            <li>
                                <input placeholder="Расчетный счет" type="text">
                            </li>
                            <li>
                                <input placeholder="Банк" type="text">
                            </li>
                            <li>
                                <input placeholder="Электронный адрес" type="email">
                            </li>
                            <li>
                                <input placeholder="Должность подписанта" type="text">
                            </li>
                            <li>
                                <input placeholder="Действует на основании" type="text">
                            </li>
                            <li>
                                <input placeholder="Предпочтительный логин" type="text">
                            </li>
                            <li>
                                <input placeholder="Торговая марка/товарный знак/краткое название" type="text">
                            </li>
                            <li>
                                <input placeholder="Город" type="text">
                            </li>
                            <li>
                                <input placeholder="ОКПО" type="text">
                            </li>
                            <li>
                                <input placeholder="ОКВЭД" type="text">
                            </li>
                            <li>
                                <input placeholder="Индекс юридического адреса" type="text">
                            </li>
                            <li>
                                <input placeholder="Индекс фактического адреса" type="text">
                            </li>
                            <li>
                                <input placeholder="БИК" type="text">
                            </li>
                            <li>
                                <input placeholder="Корр/счет" type="text">
                            </li>
                            <li>
                                <input placeholder="Телефоны (факс) вместе с кодом города" type="tel">
                            </li>
                            <li>
                                <input placeholder="Адрес сайта" type="text">
                            </li>
                            <li>
                                <input placeholder="Подписант" type="text">
                            </li>
                            <li>
                                <input placeholder="Контактное лицо" type="text">
                            </li>
                            <li>
                                <input placeholder="Предпочтительный пароль" type="text">
                            </li>
                        </ul>
                        <button type="submit">Зарегистрировать</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</main>
<!-- ToDo: made forms in footer -->
<f:render partial="Footer" arguments="{_all}" />
<f:render partial="ModalBoxex" arguments="{_all}" />