<f:layout name="Home" />
<!-- ToDo: made forms in header -->
<f:render partial="Header" arguments="{_all}" />
<main>
	<f:render section="Slider" />
	<f:render section="SliderBanner" />
	<f:render section="Banner" />
	<!-- ToDo: create EXT:destinations -->
	<f:render partial="Destinations" arguments="{_all}" />
	<f:render section="Advantages" />
	<f:render section="Reviews" />
	<f:render section="News" />
</main>
<!-- ToDo: made forms in footer -->
<f:render partial="Footer" arguments="{_all}" />
<f:render partial="ModalBoxex" arguments="{_all}" />