{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
    <div class="col-12 col-md-6 mb-20">
        <div class="wrap">
            <div class="wrap-text">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="date">
                            <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                                <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                                <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
                            </time>
                        </p>
                        <p class="title">
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"> <span itemprop="headline">{newsItem.title}</span> </n:link>
                        </p>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <n:link newsItem="{newsItem}" settings="{settings}" class="more btn btn-success" title="{newsItem.title}">
                            <!--f:translate key="more-link"/-->Подробнее </n:link>
                    </div>
                </div>
            </div>
            <div class="wrap-img">
                <f:if condition="{newsItem.falMedia}">
                    <!-- fal media preview element -->
                    <f:then>
                        <div class="news-img-wrap text-center">
                            <f:if condition="{newsItem.falMediaPreviews}">
                                <f:then>
                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                        <f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
                                            <f:if condition="{mediaElement.originalResource.type} == 2">
                                                <f:image class="img-fluid w-100" src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                                            </f:if>
                                            <f:if condition="{mediaElement.originalResource.type} == 4">
                                                <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
                                            </f:if>
                                            <f:if condition="{mediaElement.originalResource.type} == 5">
                                                <f:image class="img-fluid w-100" src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                                            </f:if>
                                        </f:alias>
                                    </n:link>
                                </f:then>
                                <f:else>
                                    <f:if condition="{settings.displayDummyIfNoMedia}"> <span class="no-media-element">
                      <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        <f:image class="img-fluid w-100" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                      </n:link>
                      </span> </f:if>
                                </f:else>
                            </f:if>
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{newsItem.media}">
                            <!-- media preview element -->
                            <f:then>
                                <div class="news-img-wrap">
                                    <f:if condition="{newsItem.mediaPreviews}">
                                        <f:then>
                                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                                <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                                    <f:if condition="{mediaElement.type} == 0">
                                                        <f:image class="img-fluid w-100" src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                                                    </f:if>
                                                    <f:if condition="{mediaElement.type} == 1">
                                                        <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                                                    </f:if>
                                                    <f:if condition="{mediaElement.type} == 2">
                                                        <f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
                                                    </f:if>
                                                </f:alias>
                                            </n:link>
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{settings.displayDummyIfNoMedia}"> <span class="no-media-element">
                          <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                            <f:image class="img-fluid w-100" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                          </n:link>
                          </span> </f:if>
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.displayDummyIfNoMedia}">
                                    <f:then>
                                        <div class="news-img-wrap text-center">
                                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"> <span class="no-media-element">
                          <f:image class="img-fluid w-100" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                          </span> </n:link>
                                        </div>
                                    </f:then>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
            <div class="wrap-bg"></div>
        </div>
    </div>
</f:section>

