{namespace n=GeorgRinger\News\ViewHelpers}

<f:comment>Санатории</f:comment>
<section class="sanatorii-item" id="sanatorii">
    <div class="col-12">
        <div class="sanatorii-item-grid row hr-bottom-30 article item-value-60 articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
            <n:excludeDisplayedNews newsItem="{newsItem}"/>
            <!-- header -->
            <div class="col-12 col-md-7 news-sanatorii sanatorii-item-column-1">
                <div class="d-flex justify-content-between sanatorii-item-grid-column-1">
                    <div class="fal-image pr-20">
                        <f:if condition="{newsItem.falMedia}">
                            <!-- fal media preview element -->
                            <f:then>
                                <div class="news-img-wrap text-center">
                                    <f:if condition="{newsItem.falMediaPreviews}">
                                        <f:then>
                                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                                <f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
                                                    <f:if condition="{mediaElement.originalResource.type} == 2">
                                                        <f:image class="img-fluid w-100" src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                                                    </f:if>
                                                    <f:if condition="{mediaElement.originalResource.type} == 4">
                                                        <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
                                                    </f:if>
                                                    <f:if condition="{mediaElement.originalResource.type} == 5">
                                                        <f:image class="img-fluid w-100" src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                                                    </f:if>
                                                </f:alias>
                                            </n:link>
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{settings.displayDummyIfNoMedia}"> <span class="no-media-element">
                          <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                            <f:image class="img-fluid w-100" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                          </n:link>
                          </span> </f:if>
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:then>
                            <f:else>
                                <f:if condition="{newsItem.media}">
                                    <!-- media preview element -->
                                    <f:then>
                                        <div class="news-img-wrap">
                                            <f:if condition="{newsItem.mediaPreviews}">
                                                <f:then>
                                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                                        <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                                            <f:if condition="{mediaElement.type} == 0">
                                                                <f:image class="img-fluid w-100" src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                                                            </f:if>
                                                            <f:if condition="{mediaElement.type} == 1">
                                                                <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                                                            </f:if>
                                                            <f:if condition="{mediaElement.type} == 2">
                                                                <f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
                                                            </f:if>
                                                        </f:alias>
                                                    </n:link>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{settings.displayDummyIfNoMedia}"> <span class="no-media-element">
                              <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                <f:image class="img-fluid w-100" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                              </n:link>
                              </span> </f:if>
                                                </f:else>
                                            </f:if>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{settings.displayDummyIfNoMedia}">
                                            <f:then>
                                                <div class="news-img-wrap text-center">
                                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"> <span class="no-media-element">
                              <f:image class="img-fluid w-100" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
                              </span> </n:link>
                                                </div>
                                            </f:then>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>
                    <div class="news-text">
                        <div class="text-left color-orange">
                            <f:switch expression="{newsItem.txPbnewsjobsStars}">
                                <f:case value="1"><i class="im im-star"></i></f:case>
                                <f:case value="2"><i class="im im-star"></i> <i class="im im-star"></i></f:case>
                                <f:case value="3"><i class="im im-star"></i> <i class="im im-star"></i> <i class="im im-star"></i></f:case>
                                <f:case value="4"><i class="im im-star"></i> <i class="im im-star"></i> <i class="im im-star"></i> <i class="im im-star"></i></f:case>
                                <f:case value="5"><i class="im im-star"></i> <i class="im im-star"></i> <i class="im im-star"></i> <i class="im im-star"></i> <i class="im im-star"></i></f:case>
                            </f:switch>
                        </div>
                        <div class="header text-left">
                            <b>
                                <f:if condition="{settings.specialClass}">
                                    <f:then>
                                        <n:link class="special-class" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"> <span itemprop="headline">{newsItem.title}</span> </n:link>
                                    </f:then>
                                    <f:else>
                                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"> <span itemprop="headline">{newsItem.title}</span> </n:link>
                                    </f:else>
                                </f:if>
                            </b>
                        </div>

                        <!-- teaser -->
                        <div class="teaser-text">
                            <f:if condition="{newsItem.teaser}">
                                <f:then> <span itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span> </f:then>
                                <f:else> <span itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span> </f:else>
                            </f:if>

                            <!--n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
                        <f:translate key="more-link"/>
                    </n:link-->
                        </div>

                        <!-- footer information -->
                        <div class="footer">
                            <p>
                                <!-- date -->
                                <!--span class="news-list-date">
                              <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                                  <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                                  <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
                              </time>
                          </span-->

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 news-sanatorii2 sanatorii-item-column-2">
                <!--div class="d-flex justify-content-between"-->
                <div class="mwrap grid-news-list-button sanatorii-item-grid-column-2">
                    <div class="profile d-block float-left">
                        <b><f:translate key="news.sanatorium_profile" extensionName="tmpl" /></b>
                        <div>
                            <f:for each="{newsItem.categories}" as="category" iteration="catiterator">
                                <f:if condition="{category.parentcategory.uid} == 5">
                                    <f:then>
                                        <div>{category.title}</div>
                                    </f:then>
                                </f:if>
                            </f:for>

                        </div>
                    </div>
                    <div class="price d-block float-left">
                        <f:comment>
                        <f:for each="{newsItem.categories}" as="category">
                            <f:if condition="{category.uid} == 60">
                                <div class="price-sanatorii-item-preview">От {newsItem.txPbnewsjobsPrice}</div>
                            </f:if>
                        </f:for>
                        </f:comment>
                        <f:if condition="{settings.specialClass}">
                            <f:then>
                                <n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-success more-button-list-sanatorii special-class">Подробнее</n:link>
                            </f:then>
                            <f:else>
                                <n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-success more-button-list-sanatorii">Подробнее</n:link>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>