<section class="popular-destinations">
    <div class="popular-destinations-title">
        <div class="popular-destinations-title-line"></div>
        <div class="popular-destinations-title-text">Популярные направления</div>
    </div>
    <div data-container=".popular-destinations-tabs-1" class="popular-destinations-tabs popular-destinations-tabs-1">
        <ul class="popular-destinations-tabs-button">
            <li>Подмосковье</li>
            <li>Краснодарский край</li>
            <li>Крым</li>
            <li>Кавказские минеральные воды</li>
        </ul>
        <div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=9&cHash=1998e8df40364d0698dc4497499ca95b">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/2.jpg" alt="Санаторий Валуево"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 4400 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий Валуево</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">г. Москва, поселение Филимонковское, поселок Валуево.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=22&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=f0f31a8c5dfa701b83fe26ad5deba250">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/8.jpg" alt="Санаторий Загорские дали УДП РФ"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 4700 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Загорские дали" УДП РФ</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, г. Сергиев-Посад, санаторий "Загорские дали".</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=11&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=9b2429cd3ea5fc74d07893ee35ebfa21">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/9.jpg" alt="Санаторий Вороново"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 2800 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Вороново"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">г. Москва, поселение Вороновское, с. Вороново, санаторий «Вороново».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=21&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=889834ddaf87a8a75c45fc4e9bfbd7b3">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/10.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 2700 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Пушкинский район, п/о Ельдигино, д. Раково.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=17&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=623b0ab2316b6b09c11ff2f8b2350d54">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/11.jpg" alt="Санаторий Звенигород Мэрии Москвы"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 3200 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Звенигород" Мэрии Москвы</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, город Звенигород, п/о Введенское, санаторий "Звенигород".</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=29&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=aa21e94ac5db084b8a97eb98658eb187">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/12.jpg" alt="Санаторий Подмосковье УДП РФ"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 3700 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Подмосковье" УДП РФ</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Домодедовский район, территория ФГУ "ОС "Подмосковье", стр. 25.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=29&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=aa21e94ac5db084b8a97eb98658eb187">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/13.jpg" alt="Санаторий Озеро Белое Мэрии Москвы"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1900 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Озеро Белое" Мэрии Москвы</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Шатурский район, п. Озеро Белое, Санаторий «Озеро Белое» Мэрии Москвы.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=25&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=dcf90b86468ac00834e079cfa790fd13">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/14.jpg" alt="Санаторий Сосны"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1900 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Сосны"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Раменский район, пос. Быково, ул. Опаринская, дом 67, санаторий "Сосны" ВОС.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=38&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=6c93450a55ddb22d33b4ac2e11a9595c">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/15.jpg" alt="Санаторий Карачарово"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 2250 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Карачарово"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Тверской обл., Конаковский р-н, п/о Карачарово</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=76&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=fb1df194d524ac1dd65527491f65457d">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/16.jpg" alt="Санаторий Южное Взморье"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 3650 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Южное Взморье"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, Адлерский район, ул. Калинина, д. 1.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=45&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=55374efccea72f0ec17d299af94443f9">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/17.jpg" alt="Санаторий Знание"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Знание"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, ул. Просвещения, д. 139.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=80&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=e4700ecad4a4cf7f51a1cb5bba6d07a5">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/18.jpg" alt="Санаторий Голубая даль"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1800 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Голубая даль"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Геленджик, с. Дивноморское.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=87&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=ceeaf19493d1d4b7058235a5c4e158b1">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/19.jpg" alt="Санаторий Красная Талка"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1810 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Красная Талка"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, Геленджик, ул. Мира, 38.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=76&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=fb1df194d524ac1dd65527491f65457d">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/16.jpg" alt="Санаторий Южное Взморье"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 3650 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Южное Взморье"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, Адлерский район, ул. Калинина, д. 1.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=45&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=55374efccea72f0ec17d299af94443f9">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/17.jpg" alt="Санаторий Знание"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Знание"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, ул. Просвещения, д. 139.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=80&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=e4700ecad4a4cf7f51a1cb5bba6d07a5">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/18.jpg" alt="Санаторий Голубая даль"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1800 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Голубая даль"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Геленджик, с. Дивноморское.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=87&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=ceeaf19493d1d4b7058235a5c4e158b1">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/19.jpg" alt="Санаторий Красная Талка"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1810 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Красная Талка"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, Геленджик, ул. Мира, 38.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=169&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=941fe086d393b9329d0654a95cc4790a">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/20.jpg" alt="Санаторий Ай-Петри"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Ай-Петри"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пос. Кореиз-1, Алупкинское шоссе, 15.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=143&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=58a82cd92d8bece03abd0a7397bb5d71">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/21.jpg" alt="Санаторий Мисхор"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1400 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Мисхор"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз, Алупкинское шоссе, д. 9.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=170&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=ce04e3849c0a92ad1624fac6c18b6a5d">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/22.jpg" alt="Санаторий Дюльбер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Дюльбер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз-1, Алупкинское шоссе, 19.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=169&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=941fe086d393b9329d0654a95cc4790a">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/20.jpg" alt="Санаторий Ай-Петри"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Ай-Петри"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пос. Кореиз-1, Алупкинское шоссе, 15.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=143&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=58a82cd92d8bece03abd0a7397bb5d71">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/21.jpg" alt="Санаторий Мисхор"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1400 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Мисхор"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз, Алупкинское шоссе, д. 9.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=170&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=ce04e3849c0a92ad1624fac6c18b6a5d">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/22.jpg" alt="Санаторий Дюльбер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Дюльбер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз-1, Алупкинское шоссе, 19.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=169&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=941fe086d393b9329d0654a95cc4790a">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/20.jpg" alt="Санаторий Ай-Петри"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Ай-Петри"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пос. Кореиз-1, Алупкинское шоссе, 15.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=143&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=58a82cd92d8bece03abd0a7397bb5d71">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/21.jpg" alt="Санаторий Мисхор"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1400 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Мисхор"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз, Алупкинское шоссе, д. 9.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=170&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=ce04e3849c0a92ad1624fac6c18b6a5d">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/22.jpg" alt="Санаторий Дюльбер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 1500 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Дюльбер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз-1, Алупкинское шоссе, 19.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=81&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=6160689a22ad62fa35154bc5d7ef30d4">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/23.jpg" alt="Санаторий Шахтер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 3300 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Шахтер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Баталинская, д. 9, санаторий «Шахтёр».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=74&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=63e8c920bbdfa4038a6879d724cc1cff">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/24.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 2100 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Пушкина, 22.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=78&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=c28c8863f3463ced4dcf4752eec041c6">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/25.jpg" alt="Санаторий Источник"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 5700 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Источник"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Семашко, д. 6-8, санаторий «Источник».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=81&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=6160689a22ad62fa35154bc5d7ef30d4">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/23.jpg" alt="Санаторий Шахтер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 3300 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Шахтер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Баталинская, д. 9, санаторий «Шахтёр».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=74&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=63e8c920bbdfa4038a6879d724cc1cff">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/24.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 2100 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Пушкина, 22.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=78&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=c28c8863f3463ced4dcf4752eec041c6">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/25.jpg" alt="Санаторий Источник"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 5700 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Источник"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Семашко, д. 6-8, санаторий «Источник».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=81&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=6160689a22ad62fa35154bc5d7ef30d4">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/23.jpg" alt="Санаторий Шахтер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 3300 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Шахтер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Баталинская, д. 9, санаторий «Шахтёр».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=74&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=63e8c920bbdfa4038a6879d724cc1cff">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/24.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 2100 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Пушкина, 22.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/?tx_news_pi1[news]=78&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&cHash=c28c8863f3463ced4dcf4752eec041c6">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/25.jpg" alt="Санаторий Источник"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price">от 5700 руб.</div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Источник"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Семашко, д. 6-8, санаторий «Источник».</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>