<section class="popular-destinations">
    <div class="popular-destinations-title">
        <div class="popular-destinations-title-line"></div>
        <div class="popular-destinations-title-text">Популярные направления</div>
    </div>
    <div data-container=".popular-destinations-tabs-1" class="popular-destinations-tabs popular-destinations-tabs-1">
        <ul class="popular-destinations-tabs-button">
            <li>Подмосковье</li>
            <li>Краснодарский край</li>
            <li>Крым</li>
            <li>Кавказские минеральные воды</li>
            <li>Средняя полоса России</li>
            <li>Абхазия</li>
        </ul>
        <div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-valuevo/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/2.jpg" alt="Санаторий Валуево"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий Валуево</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">г. Москва, поселение Филимонковское, поселок Валуево.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-zagorskie-dali-udp-rf/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/8.jpg" alt="Санаторий Загорские дали УДП РФ"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Загорские дали" УДП РФ</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, г. Сергиев-Посад, санаторий "Загорские дали".</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-voronovo/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/9.jpg" alt="Санаторий Вороново"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Вороново"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">г. Москва, поселение Вороновское, с. Вороново, санаторий «Вороново».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-viktorija/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/10.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Пушкинский район, п/о Ельдигино, д. Раково.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-zvenigorod-mehrii-moskvy/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/11.jpg" alt="Санаторий Звенигород Мэрии Москвы"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Звенигород" Мэрии Москвы</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, город Звенигород, п/о Введенское, санаторий "Звенигород".</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-podmoskove-udp-rf/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/12.jpg" alt="Санаторий Подмосковье УДП РФ"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Подмосковье" УДП РФ</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Домодедовский район, территория ФГУ "ОС "Подмосковье", стр. 25.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-ozero-beloe-mehrii-moskvy/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/13.jpg" alt="Санаторий Озеро Белое Мэрии Москвы"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Озеро Белое" Мэрии Москвы</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Шатурский район, п. Озеро Белое, Санаторий «Озеро Белое» Мэрии Москвы.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-sosny/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/14.jpg" alt="Санаторий Сосны"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Сосны"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Московская область, Раменский район, пос. Быково, ул. Опаринская, дом 67, санаторий "Сосны" ВОС.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-karacharovo/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/15.jpg" alt="Санаторий Карачарово"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Карачарово"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Тверской обл., Конаковский р-н, п/о Карачарово</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-juzhnoe-vzmore/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/16.jpg" alt="Санаторий Южное Взморье"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Южное Взморье"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, Адлерский район, ул. Калинина, д. 1.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-znanie/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/17.jpg" alt="Санаторий Знание"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Знание"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, ул. Просвещения, д. 139.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-golubaja-dal/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/18.jpg" alt="Санаторий Голубая даль"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Голубая даль"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Геленджик, с. Дивноморское.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-krasnaja-talka/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/19.jpg" alt="Санаторий Красная Талка"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Красная Талка"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, Геленджик, ул. Мира, 38.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-juzhnoe-vzmore/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/16.jpg" alt="Санаторий Южное Взморье"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Южное Взморье"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, Адлерский район, ул. Калинина, д. 1.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-znanie/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/17.jpg" alt="Санаторий Знание"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Знание"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Сочи, ул. Просвещения, д. 139.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-golubaja-dal/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/18.jpg" alt="Санаторий Голубая даль"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Голубая даль"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, г. Геленджик, с. Дивноморское.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-krasnaja-talka/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/19.jpg" alt="Санаторий Красная Талка"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Красная Талка"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Краснодарский край, Геленджик, ул. Мира, 38.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-ai-petri/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/20.jpg" alt="Санаторий Ай-Петри"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Ай-Петри"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пос. Кореиз-1, Алупкинское шоссе, 15.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-miskhor/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/21.jpg" alt="Санаторий Мисхор"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Мисхор"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз, Алупкинское шоссе, д. 9.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-djulber/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/22.jpg" alt="Санаторий Дюльбер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Дюльбер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз-1, Алупкинское шоссе, 19.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-ai-petri/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/20.jpg" alt="Санаторий Ай-Петри"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Ай-Петри"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пос. Кореиз-1, Алупкинское шоссе, 15.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-miskhor/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/21.jpg" alt="Санаторий Мисхор"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Мисхор"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз, Алупкинское шоссе, д. 9.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-djulber/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/22.jpg" alt="Санаторий Дюльбер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Дюльбер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз-1, Алупкинское шоссе, 19.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-ai-petri/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/20.jpg" alt="Санаторий Ай-Петри"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Ай-Петри"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пос. Кореиз-1, Алупкинское шоссе, 15.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-miskhor/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/21.jpg" alt="Санаторий Мисхор"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Мисхор"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз, Алупкинское шоссе, д. 9.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-djulber/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/22.jpg" alt="Санаторий Дюльбер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Дюльбер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Крым, г. Ялта, пгт. Кореиз-1, Алупкинское шоссе, 19.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-shakhter/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/23.jpg" alt="Санаторий Шахтер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Шахтер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Баталинская, д. 9, санаторий «Шахтёр».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-viktorija-1/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/24.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Пушкина, 22.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-istochnik/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/25.jpg" alt="Санаторий Источник"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Источник"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Семашко, д. 6-8, санаторий «Источник».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-shakhter/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/23.jpg" alt="Санаторий Шахтер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Шахтер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Баталинская, д. 9, санаторий «Шахтёр».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-viktorija-1/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/24.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Пушкина, 22.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-istochnik/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/25.jpg" alt="Санаторий Источник"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Источник"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Семашко, д. 6-8, санаторий «Источник».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-shakhter/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/23.jpg" alt="Санаторий Шахтер"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Шахтер"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Баталинская, д. 9, санаторий «Шахтёр».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-viktorija-1/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/24.jpg" alt="Санаторий Виктория"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Виктория"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Пушкина, 22.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-istochnik/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/25.jpg" alt="Санаторий Источник"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Источник"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ставропольский край, г. Ессентуки, ул. Семашко, д. 6-8, санаторий «Источник».</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-karacharovo/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/15.jpg" alt="Санаторий Карачарово"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Карачарово"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Тверской обл., Конаковский р-н, п/о Карачарово.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-reshma/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/1.jpg" alt="Санаторий Решма"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Решма"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ивановская область, Кинешемский район п./о Решма-1.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-krasnyi-kholm/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/26.jpg" alt="Санаторий Красный Холм"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Красный Холм"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ярославская область, Ярославский район, п/о Михайловское, санаторий «Красный холм».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-karacharovo/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/15.jpg" alt="Санаторий Карачарово"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Карачарово"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Тверской обл., Конаковский р-н, п/о Карачарово.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-reshma/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/1.jpg" alt="Санаторий Решма"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Решма"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ивановская область, Кинешемский район п./о Решма-1.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-krasnyi-kholm/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/26.jpg" alt="Санаторий Красный Холм"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Красный Холм"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ярославская область, Ярославский район, п/о Михайловское, санаторий «Красный холм».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-karacharovo/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/15.jpg" alt="Санаторий Карачарово"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Карачарово"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Тверской обл., Конаковский р-н, п/о Карачарово.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-reshma/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/1.jpg" alt="Санаторий Решма"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Решма"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ивановская область, Кинешемский район п./о Решма-1.</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/sanatorii-krasnyi-kholm/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/26.jpg" alt="Санаторий Красный Холм"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Санаторий "Красный Холм"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Ярославская область, Ярославский район, п/о Михайловское, санаторий «Красный холм».</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="popular-destinations-slider-wrapper">
                    <div class="popular-destinations-slider-list">
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-samshitovaja-roshcha/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/27.jpg" alt="Пансионат Самшитовая Роща"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Самшитовая Роща"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Самшитовая роща».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-litfond/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/28.jpg" alt="Пансионат Литфонд"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Литфонд"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Литфонд».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-samshitovaja-roshcha/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/27.jpg" alt="Пансионат Самшитовая Роща"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Самшитовая Роща"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Самшитовая роща».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-litfond/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/28.jpg" alt="Пансионат Литфонд"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Литфонд"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Литфонд».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-samshitovaja-roshcha/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/27.jpg" alt="Пансионат Самшитовая Роща"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Самшитовая Роща"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Самшитовая роща».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-litfond/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/28.jpg" alt="Пансионат Литфонд"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Литфонд"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Литфонд».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-samshitovaja-roshcha/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/27.jpg" alt="Пансионат Самшитовая Роща"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Самшитовая Роща"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Самшитовая роща».</div>
                                </div>
                            </a>
                        </div>
                        <div class="popular-destinations-slider-item">
                            <a href="/resort/pansionat-litfond/">
                                <div class="popular-destinations-slider-item-img"><img src="fileadmin/new_design/sanatorii/thumbs/28.jpg" alt="Пансионат Литфонд"></div>
                                <div class="popular-destinations-slider-item-text">
                                    <div class="popular-destinations-slider-item-price"></div>
                                    <div class="popular-destinations-slider-item-title-wrapper">
                                        <div class="popular-destinations-slider-item-title">Пансионат "Литфонд"</div>
                                    </div>
                                    <div class="popular-destinations-slider-item-location">Абхазия, г. Пицунда, пансионат «Литфонд».</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>