<footer>
    <section class="footer-form">
        <div class="footer-form-column-1">
            <f:cObject typoscriptObjectPath="lib.formQuestions" />
        </div>
        <div class="footer-form-column-2">
            <f:cObject typoscriptObjectPath="lib.formMailing" />
        </div>
    </section>
    <section class="footer-menu">
        <div class="footer-menu-wrapper">
            <div class="footer-menu-list">
                <f:cObject typoscriptObjectPath="lib.footerMenuAbout" />
                <f:cObject typoscriptObjectPath="lib.footerMenuCountry" />
                <f:cObject typoscriptObjectPath="lib.footerMenuPopularRegion" />
                <f:cObject typoscriptObjectPath="lib.footerMenuContact" />
            </div>
            <f:cObject typoscriptObjectPath="lib.copyright" />
        </div>
    </section>
</footer>
<f:cObject typoscriptObjectPath="lib.formReservation" />