<footer>
    <section class="footer-form">
        <div class="footer-form-column-1">
            <f:cObject typoscriptObjectPath="lib.formQuestions" />
        </div>
        <div class="footer-form-column-2">
            <f:cObject typoscriptObjectPath="lib.formMailing" />
        </div>
    </section>
    <section class="footer-menu">
        <div class="footer-menu-wrapper">
            <div class="footer-menu-list">
                <f:cObject typoscriptObjectPath="lib.footerMenuAbout" />
                <f:cObject typoscriptObjectPath="lib.footerMenuCountry" />
                <f:cObject typoscriptObjectPath="lib.footerMenuPopularRegion" />
                <f:cObject typoscriptObjectPath="lib.footerMenuContact" />
            </div>
            <f:cObject typoscriptObjectPath="lib.copyright" />
        </div>
    </section>
</footer>
<f:cObject typoscriptObjectPath="lib.formReservation" />
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
   ym(55814569, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/55814569" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56312467, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56312467" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168067424-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168067424-1');
</script>
<!-- StreamWood code -->
<link href="https://clients.streamwood.ru/StreamWood/sw.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://clients.streamwood.ru/StreamWood/sw.js" charset="utf-8"></script>
<script type="text/javascript">
  swQ(document).ready(function(){
    swQ().SW({
      swKey: '3e67d1f24ebdbbbe125e7040442f6e84',
      swDomainKey: 'dbe2dd5df4cfff2e9cba4d242a9c1c2f'
    });
    swQ('body').SW('load');
  });
</script>
<!-- /StreamWood code -->