<header>
    <div class="header-wrapper">
        <f:cObject typoscriptObjectPath="lib.logo" />
        <f:cObject typoscriptObjectPath="lib.slogan" />
        <div class="header-search">
            <div class="header-search-wrapper">
                <input placeholder="Поиск" type="search">
            </div>
        </div>
        <f:cObject typoscriptObjectPath="lib.headerPhone" />
        <f:cObject typoscriptObjectPath="lib.headerMenu" />
        <div class="header-order">
            <a data-fancybox data-src="#order-modal"><span>Оставить заявку</span></a>
        </div>
        <div class="line"></div>
        <div data-fancybox data-src="#mobile-menu" class="mobile-menu">
            <div class="mobile-menu-humburger">
                <span>Меню</span>
            </div>
        </div>
    </div>
    <f:cObject typoscriptObjectPath="lib.mainMenu" />
    <f:cObject typoscriptObjectPath="lib.mobileMainMenu" />
</header>