<f:comment>
    <div id="order-modal" class="order-modal">
        <form action="post">
            <fieldset>
                <legend>Оставить заявку</legend>
                <div class="order-modal-column">
                    <input placeholder="Ваше имя" type="text">
                    <input data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="Ваш номер телефона" type="tel">
                    <input placeholder="Ваш email" type="email">
                    <input class="datepicker" placeholder="Дата заезда" type="text">
                    <input placeholder="Количество дней" type="text">
                    <input placeholder="Количество взрослых" type="text">
                    <input placeholder="Количество детей" type="text">
                    <input placeholder="Количество звёзд" type="text">
                </div>
                <textarea placeholder="Комментарий"></textarea>
            </fieldset>
            <button type="submit">Отправить</button>
        </form>
    </div>
</f:comment>


<f:comment>
    <div id="callback-modal" class="callback-modal">
        <form action="post">
            <fieldset>
                <legend>Заказать обратный звонок</legend>
                <input placeholder="Ваше имя" type="text">
                <input data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="Ваш номер телефона" type="tel">
            </fieldset>
            <button type="submit">Отправить</button>
        </form>
    </div>
</f:comment>


<f:cObject typoscriptObjectPath="lib.orderModal" />
<f:cObject typoscriptObjectPath="lib.callbackModal" />