<div data-container=".sanatorii-rossii-tabs-1" class="sanatorii-rossii-tabs sanatorii-rossii-tabs-1">
    <ul class="sanatorii-rossii-tabs-button">
        <li>Подмосковье</li>
        <li>Средняя полоса России</li>
        <li>Краснодарский край</li>
        <li>Крым</li>
        <li>Кавказские минеральные воды</li>
        <li>Белоруссия</li>
    </ul>
    <div>
        <div>
            <div class="sanatorii-rossii-slider-banner">
                <div class="sanatorii-rossii-slider-banner-wrapper">
                    <div class="sanatorii-rossii-slider-banner-item-2">
                        <div class="sanatorii-rossii-slider-banner-banner-1">
                            <div class="sanatorii-rossii-slider-banner-banner-1-img"><img src="images/slider-3/banner-1.jpg" alt="Лучшие санатории России"></div>
                            <div class="sanatorii-rossii-slider-banner-banner-1-text">
                                <div class="sanatorii-rossii-slider-banner-banner-1-title-wrapper">
                                    <div class="sanatorii-rossii-slider-banner-banner-1-title"><span>Лучшие</span> санатории России</div>
                                    <div class="sanatorii-rossii-slider-banner-banner-1-button"><a href="#">Забронировать</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sanatorii-rossii-slider-banner-item-3">
                        <div class="sanatorii-rossii-slider-banner-banner-2">
                            <div class="sanatorii-rossii-slider-banner-banner-2-img"><img src="images/slider-2/banner-2.jpg" alt="Открытый Юг Сочи круглый год"></div>
                            <div class="sanatorii-rossii-slider-banner-banner-2-text">
                                <div class="sanatorii-rossii-slider-banner-banner-2-title-wrapper">
                                    <div class="sanatorii-rossii-slider-banner-banner-2-title"><img src="images/slider-2/banner-2-2.jpg" alt="Открытый Юг Сочи круглый год"></div>
                                    <div class="sanatorii-rossii-slider-banner-banner-2-button"><a href="#">Забронировать</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sanatorii-rossii-slider-banner-item-1">
                        <div class="sanatorii-rossii-slider-banner-list">
                            <div class="sanatorii-rossii-slider-banner-slide">
                                <div class="sanatorii-rossii-slider-banner-img"><img src="images/slider-2/slider-1.jpg" alt="Санаторий «Голубая даль»"></div>
                                <div class="sanatorii-rossii-slider-banner-text">
                                    <div class="sanatorii-rossii-slider-banner-text-wrapper">
                                        <div class="sanatorii-rossii-slider-banner-title-1">Санаторий</div>
                                        <div class="sanatorii-rossii-slider-banner-title-2">"Голубая даль"</div>
                                        <div class="sanatorii-rossii-slider-banner-title-3"><span>от</span> 1980 руб.</div>
                                        <div class="sanatorii-rossii-slider-banner-button"><a href="#">Забронировать</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sanatorii-rossii-slider-banner-slide">
                                <div class="sanatorii-rossii-slider-banner-img"><img src="images/slider-2/slider-1.jpg" alt="Санаторий «Голубая даль»"></div>
                                <div class="sanatorii-rossii-slider-banner-text">
                                    <div class="sanatorii-rossii-slider-banner-text-wrapper">
                                        <div class="sanatorii-rossii-slider-banner-title-1">Санаторий</div>
                                        <div class="sanatorii-rossii-slider-banner-title-2">"Голубая даль"</div>
                                        <div class="sanatorii-rossii-slider-banner-title-3"><span>от</span> 1980 руб.</div>
                                        <div class="sanatorii-rossii-slider-banner-button"><a href="#">Забронировать</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sanatorii-rossii-slider-banner-slide">
                                <div class="sanatorii-rossii-slider-banner-img"><img src="images/slider-2/slider-1.jpg" alt="Санаторий «Голубая даль»"></div>
                                <div class="sanatorii-rossii-slider-banner-text">
                                    <div class="sanatorii-rossii-slider-banner-text-wrapper">
                                        <div class="sanatorii-rossii-slider-banner-title-1">Санаторий</div>
                                        <div class="sanatorii-rossii-slider-banner-title-2">"Голубая даль"</div>
                                        <div class="sanatorii-rossii-slider-banner-title-3"><span>от</span> 1980 руб.</div>
                                        <div class="sanatorii-rossii-slider-banner-button"><a href="#">Забронировать</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
    </div>
</div>