<f:layout name="Default" />
<f:section name="main">

    <div class="slider-content-wrapper">
        <f:for each="{items}" as="item">
            <div class="slider-item">
                <f:if condition="{item.link}">
                    <f:then>
                        <f:link.page pageUid="{item.link}">
                            <div class="slider-item-img">
                                <f:image src="{item.image.originalResource.originalFile.uid}" alt="{item.title}" width="517c" height="321c" />
                            </div>
                            <f:if condition="{item.caption}">
                                <div class="slider-item-title">
                                    <span><f:format.raw>{item.caption}</f:format.raw></span>
                                </div>
                            </f:if>
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <div class="slider-item-img">
                            <f:image src="{item.image.originalResource.originalFile.uid}" alt="{item.title}" width="517c" height="321c" />
                        </div>
                        <f:if condition="{item.caption}">
                            <div class="slider-item-title">
                                <span><f:format.raw>{item.caption}</f:format.raw></span>
                            </div>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </f:for>
    </div>

</f:section>