<div class="sanatorii-rossii-tabs">
    {data.tx_gridelements_view_columns.0->f:format.raw()}
    <div>
        <div>
            <div class="sanatorii-rossii-slider-banner">
                <div class="sanatorii-rossii-slider-banner-wrapper">
                    <div class="sanatorii-rossii-slider-banner-item-2">
                        <div class="sanatorii-rossii-slider-banner-banner-1">
                            {data.tx_gridelements_view_columns.1->f:format.raw()}
                        </div>
                    </div>
                    <div class="sanatorii-rossii-slider-banner-item-3">
                        <div class="sanatorii-rossii-slider-banner-banner-2">
                            {data.tx_gridelements_view_columns.2->f:format.raw()}
                        </div>
                    </div>
                    <div class="sanatorii-rossii-slider-banner-item-1">
                        <div class="sanatorii-rossii-slider-banner-list">
                            {data.tx_gridelements_view_columns.3->f:format.raw()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>